---
import { cn } from "@/utils/cn";
---

<footer class="shadow-3xl sm:shadow-none">
  <div class="container">
    <div class={cn("flex flex-col gap-4 py-8 text-md", "sm:text-lg sm:py-6")}>
      <div class="text-center">Astro demo</div>
    </div>
  </div>
</footer>
