---
import { cn } from "@/utils/cn";

interface Props {
  copyright: string;
}

const { copyright } = Astro.props;
---

<footer class="shadow-3xl sm:shadow-none">
  <div class="container">
    <div class={cn("flex flex-col gap-4 py-8 text-md", "sm:text-lg sm:py-6")}>
      <div class="text-center">{copyright}</div>
    </div>
  </div>
</footer>
