---
import SkipToMain from "@/components/ui/SkipToMain.astro";
import { cn } from "@/utils/cn";

interface Props {
  logo: string;
}

const { logo } = Astro.props;
---

<header class={cn("shadow-3xl sm:shadow-none")}>
  <SkipToMain />
  <div class="container">
    <div class="flex justify-between items-center py-4">
      <a
        href="/"
        class={cn(
          "font-bold text-2xl opacity-100 transition duration-300 text-[var(--headings-color)] hover:opacity-70",
        )}
      >
        {logo}
      </a>
    </div>
  </div>
</header>
